.Notes {
    width: 100vw;
    >main {
        display: flex;
        flex-direction: column;
        margin: 2rem 0rem;
        padding: 1rem;
        box-shadow: 0px 0px 5px 1px black;
        width: 35rem;
        margin: auto;
        margin-top: 3rem;
        border-radius: 1rem;
        flex-wrap: wrap;

        >h1 {
            margin: 1rem auto;
            color: blue;

        }

        >form {
            display: flex;
            flex-direction: column;
            width: 30rem;
            margin: auto;

            >input {
                margin: 0.5rem;
                font-size: larger;
                width: 90%;
                padding: 0.5rem;
                border: 1px solid black;
                outline: none;
            }

            >button {
                width: 50%;
                margin: 1rem auto;
                padding: 0.3rem;
                font-size: large;
                outline: none;
                color: white;
                border: none;
                border-radius: 0.5rem;
                background-color: blue;
                cursor: pointer;
            }
        }
    }

    .NotesItem {
        width: 15rem;
        margin: 2rem;
        height: 15rem;
        text-align: center;
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        border-radius: 1rem;
        box-shadow: 0px 0px 5px 1px rgba($color: #000000, $alpha: 0.5);

        >h4 {
            margin: 0.5rem;
        }

        >p {
            line-height: 150%;
            font-family: Arial, Helvetica, sans-serif;
        }

        >div>button {
            margin: 0.8rem 0.3rem;
            font-size: small;
            padding: 0.5rem;
            background-color: blue;
            border: none;
            outline: none;
            color: white;
            border-radius: 0.5rem;
        }
    }

    .flexdiv {
        display: flex;
        flex-wrap:wrap ;
    }
}


@media (max-width: 560px) {

    .Notes {
        display: flex;
        flex-direction: column;
    >main {
       
        width: 90%;
        border-radius: 1rem;
        flex-wrap: wrap;

        >h1 {
            margin: 1rem 7rem;
            color: blue;
            font-size: larger;
        }

        >form {
            display: flex;
            flex-direction: column;
            margin: auto;
            width:20rem;

            >input {
                margin: 0.5rem auto;
                font-size: larger;
                padding: 0.5rem;
                border: 1px solid black;
                outline: none;
                width: 15rem;
            }

            >button {
                display: block;
            }
        }
    }
    }
}